<%- include("../partials/header") %>


    <section class="container-fluid px-0">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
                    <h1>CONTACT INFO</h1>
                    <h3>Email: saaludidi@yahoo.ca</h3>
                    <h3>Whatsapp: </h3>
                    <h3>Phone: </h3>
                    <h3>Kijiji Ad: </h3>
                    

                    
                </div>
            </div>
            <div class="col-lg-6">
                <br>
                <br>
                <img class="img-fluid" src="/images/paneer-makhani-or-shahi-paneer-indian-food-670906899-5878ef725f9b584db3d890f4.webp" alt="">
            </div>
        </div>
    </section>

    <%- include("../partials/footer") %>