<%- include("../partials/header") %>
<br>
<br>
<br>
<section class="container-fluid px-0">
    <div class="row align-items-center">
        <div class="col-lg-3 ">
            <img id = "gallery-img" class="img-fluid gallery-img zoom" src="/images/5EC5BA87-5749-40D3-8462-A91E1F635C91.jpeg" alt="">
        </div>
        <div class="col-lg-3" >
            <img id = "gallery-img" class="img-fluid gallery-img zoom" src="/images/902FF00F-7C38-4748-AD09-D0E4FD1A55BB.jpeg" alt="">
        </div>
        <div class="col-lg-3 ">
            <img  id = "gallery-img"class="img-fluid gallery-img zoom" src="/images/D4173748-0F81-4F58-A118-096B47C6954F.jpeg" alt="">
        </div>
        <div class="col-lg-3 ">
            <img id = "gallery-img" class="img-fluid gallery-img zoom" src="/images/FB6748E3-DC03-43C6-B9D6-93D08040B7BF.jpeg" alt="">
        </div>
    </div>
</section>
<section class="container-fluid px-0">
    <div class="row align-items-center">
        <div class="col-lg-3 ">
            <img id = "gallery-img" class="img-fluid gallery-img zoom" src="/images/365C9DC7-12A1-4171-8487-C0E3B6453D94.jpeg" alt="">
        </div>
        <div class="col-lg-3" >
            <img id = "gallery-img" class="img-fluid gallery-img zoom" src="/images/05039A2F-1311-4CF9-B91F-15A7E5BF894D.jpeg" alt="">
        </div>
        <div class="col-lg-3 ">
            <img  id = "gallery-img"class="img-fluid gallery-img zoom" src="/images/E3F5176B-7034-4D7C-93EF-726CDF9F7B1A.jpeg" alt="">
        </div>
        <div class="col-lg-3 ">
            <img id = "gallery-img" class="img-fluid gallery-img zoom" src="/images/49668403-AA03-4AEB-BD7E-FDEA1A095D9D.jpeg" alt="">
        </div>
    </div>
</section>

<section class="container-fluid px-0">
    <div class="row align-items-center">
        <div class="col-lg-3 ">
            <img id = "gallery-img" class="img-fluid gallery-img zoom" src="/images/4DE90BFB-979A-4694-91CE-5093041E513B.jpeg" alt="">
        </div>
        <div class="col-lg-3" >
            <img id = "gallery-img" class="img-fluid gallery-img zoom" src="/images/6B944349-5BFB-4EE3-A5E8-E2AD7880A537 (2).jpeg" alt="">
        </div>
        <div class="col-lg-3 ">
            <img  id = "gallery-img"class="img-fluid gallery-img zoom" src="/images/063DE494-A3C9-4859-8947-3F0B80CFB2DC.jpeg" alt="">
        </div>
        <div class="col-lg-3 ">
            <img id = "gallery-img" class="img-fluid gallery-img zoom" src="/images/617E12F2-3FB3-4374-92F7-54671616667E.jpeg" alt="">
        </div>
    </div>
</section>

<section class="container-fluid px-0">
    <div class="row align-items-center">
        <div class="col-lg-3 ">
            <img id = "gallery-img" class="img-fluid gallery-img zoom" src="/images/993E65CC-4B35-4F07-9800-C7D448E6E403.jpeg" alt="">
        </div>
        <div class="col-lg-3" >
            <img id = "gallery-img" class="img-fluid gallery-img zoom" src="/images/1979B070-548D-4063-904E-F4D25C9398C8.jpeg" alt="">
        </div>
        <div class="col-lg-3 ">
            <img  id = "gallery-img"class="img-fluid gallery-img zoom" src="/images/355653BE-F00D-46CD-975F-20ED4F5DC62D.jpeg" alt="">
        </div>
        <div class="col-lg-3 ">
            <img id = "gallery-img" class="img-fluid gallery-img zoom" src="/images/A5D4DFBF-BC51-4615-9AC8-CD41B48D5812.jpeg" alt="">
        </div>
    </div>
</section>

<section class="container-fluid px-0">
    <div class="row align-items-center">
        <div class="col-lg-3 ">
            <img id = "gallery-img" class="img-fluid gallery-img zoom" src="/images/A34B5BAB-D304-46E7-B65F-BADB7D7FBCD0.jpeg" alt="">
        </div>
        
        <div class="col-lg-3 ">
            <img  id = "gallery-img"class="img-fluid gallery-img zoom" src="/images/CA5BFED1-6009-4184-BC4D-A96A27CE318F.jpeg" alt="">
        </div>
        <div class="col-lg-3" >
            <img id = "gallery-img" class="img-fluid gallery-img zoom" src="/images/BAF6E911-7BC9-4B27-8FF2-D71FD34983CF (2).jpeg" alt="">
        </div>
        <div class="col-lg-3 ">
            <img id = "gallery-img" class="img-fluid gallery-img zoom" src="/images/FEE62CB8-0B66-422F-A447-09464B03E381.jpeg" alt="">
        </div>
    </div>
</section>




























<%- include("../partials/footer") %>