<%- include("../partials/header") %>


    <section class="container-fluid px-0">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
                    <h1 class="">INDIAN<span>/</span>FOOD<span>/</span>SERVICE</h1>
                    <h1 class="">INDIAN<span>/</span>FOOD<span>/</span>SERVICE</h1>
                    <h1 class="">INDIAN<span>/</span>FOOD<span>/</span>SERVICE</h1>
                    <h1 class="">INDIAN<span>/</span>FOOD<span>/</span>SERVICE</h1>
                    <h1 class="">INDIAN<span>/</span>FOOD<span>/</span>SERVICE</h1>
                    <h1 class="">INDIAN<span>/</span>FOOD<span>/</span>SERVICE</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
                    <img id="zoom" class="img-fluid" src="/images/kabir-cheema-8T9AVksyt7s-unsplash.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid px-0">
        <div  class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img id="zoom" src="/images/shutterstock_1435374326.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>MY OFFER</h2>

                        <h2 style="color:rgb(255, 255, 255)" class="lead">I am offering a home-cook catering service
                            where I make delicious food right in
                            the comfort of your own home.

                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>MY DISHES</h2>
                        <h2 style="color:rgb(255, 255, 255)" class="lead">I cook Vegetarian-only dishes such as, shai
                            paneer, malai kofta, palak paneer
                            and more.</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img id = "zoom" src="/images/paneer-makhani-or-shahi-paneer-indian-food-670906899-5878ef725f9b584db3d890f4.webp" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img id = "zoom" src="/images/lai-yuching-WxePxgrIJbQ-unsplash.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <a href = "/gallery"><h2>MY GALLERY</h2></a>
                        <img src="" alt="" class="d-none d-lg-inline">
                        <h2 style="color:rgb(255, 255, 255)" class="lead">You are welcome to check out my gallery to
                            see all the things I've cooked in the past. </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("../partials/footer") %>